
.container {
    max-width: 1100px; 
    width: 100%;
    margin: 10px auto;
    display: flex;
    justify-content: center;
}

.leftSection {
    display: flex;
    gap:10px;
    flex-direction: column;
    align-items: center;
    max-width: 700px;
    flex: 1;
    background-color: rgb(255, 255, 255);
}
.howToBox {
    width: 95%;
    display: flex;
    flex-direction: column;
    box-sizing: border-box; 
    border-bottom: 0.5px solid silver;
    background-color: rgb(255, 255, 255);
}

.howToContent {
    height: inherit;
    display: flex;
    flex-direction: row;
}
.howtoimg{ 
    width: 500px;
    transition: 0.3s;
}
.Image{
    width: 100%;
    height: 100%;
    padding: 10px;
    border-radius: 20px;
}
.howtotext{
    display: flex;
    align-items:flex-start;
    flex-direction: column;
    justify-content: space-between;
    padding:10px;
    width: 100%;
}
.howtotext p:nth-child(1){
    font-size: 20px;
    font-weight: 600;
}
.howtotext p:nth-child(2){
    display: flex;
    flex-direction: row;
}
.readmorelink{
    font-size: 16px;
    margin-left: 100px;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: center;
    color:blue;

}
.readmore{
    font-size: 15px;
    margin-left: 5px;
    margin-top: 5px;
    transition: 0.3s;
}

.howToBox:hover .howtoimg{
    transform: scale(1.05);
}





.rightSection{
    height:650px;
    flex: 1;
    max-width: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.moreoptions{
    border-radius: 7px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5px;
    width: 100%;
    height: 100%;
    padding:10px;
    background-color: rgb(230, 247, 164);
}
.moreoptions h2{
    border-bottom: 5px solid black;
    font-weight: bold;
    border-radius:  7px;
    color:black;
    width: 100%;
    font-size: 30px;
    padding: 10px 0px;
    text-align: center;
    margin-bottom: 5px;
    transition: 0.3s;
}
.rightSection:hover .moreoptions h2{
    border-bottom:3px solid black;
}
.options{
    padding: 8px;
    margin: 5px 0px;
    background-color: rgb(237, 244, 205);
    box-shadow: 0px 0px 10px 5px rgba(46, 45, 45, 0.1);
    border-radius: 7px;
}
.optiontext{
    letter-spacing: 0.5px;
    font-size: 15px;
    text-align: left;
    display: flex;
    flex-direction: column;
    transition: 0.2s;
}
.optiontext:hover{
    letter-spacing: 0.5px;
    color:rgb(95, 43, 186);
    transform: scale(1.02);
}
.optiontime{
    color:rgb(94, 110, 2);
    margin-top: 3px;
    border-top: 1px solid black;
    font-size: 12px;
    display: flex;
    flex-direction: row;
    align-items: center;
}



@media screen and (max-width: 600px) {
    .howToBox {
        flex-basis: calc(100% - 20px); /* One box per row on mobile */
    }

}
@media screen and (max-width: 768px){
    .rightSection{
        display: none;
    }
}